* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
  border: 3px solid rgba(100, 0, 120, 0.8);
  background: rgba(255, 200, 80, 0.6);
}
.fruit {
color: rgba(255, 0, 50, 0.8);
}
.number {
color: rgba(60, 220, 0, 0.8);
}
